@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
    background: #F7F7FB;
}
.container
{
    position: absolute;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group
{
    width: 85vw;
    align-self: center;
}
.sub_title
{
    font-size: 40px;
    color: #111111;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: -2.5%;
    margin-top: 120px;
    margin-bottom: 40px;
}
#gnb
{
    position: fixed;
    display: flex;
    height: 60px;
    width: 100%;
    padding: 0 38px;
    background: #F7F7FB;
    align-items: center;
    z-index: 1000;
    justify-content: space-between;
}
#menu
{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
}
#menu ul
{
    display: flex;
    gap: 27px;
    margin-left: 36px;
}
#menu ul li
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: #505050;
    letter-spacing: -2.5%;
    cursor: pointer;
}
#menu ul li a
{
    color: #505050;
    text-decoration: none;
}
#menu ul li a:hover
{
    color: #82E3D2;
}
#language
{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
#language img
{
    border-radius: 40px;
    border: 1px solid #000;
    cursor: pointer;
}
.not_select_language
{
    filter: grayscale(100%);
}

#header
{
    padding-top: 60px;
    width: 100%;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("image/img_background.png");
    background-size: cover;
    background-attachment: scroll;
    filter: grayscale(50%);
}
#header span:nth-child(1)
{
    font-size: 74px;
    color: #fff;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-weight: 500;
}
#header span:nth-child(2)
{
    margin-top: 25px;
    font-size: 18px;
    color: #d9d9d9;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-weight: 500;
}
#header span:nth-child(3)
{
    margin-top: 25px;
    font-size: 18px;
    color: #d9d9d9;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-weight: 500;
}

#site_list
{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: center;
}
.site_item
{
    background: #FFFFFF;
    width: 167px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.site_item:hover
{
    box-shadow: 0px 0px 30px rgba(130, 227, 210, 0.3);
}
.site_item img
{
    background: #FFFFFF;
}

#banner
{
    margin-top: 120px;
    align-self: center;
    position: relative;
    width: 85vw;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
}
#banner iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.indicator
{
    display: flex;
    flex-display: row;
    gap: 16px;
    align-self: center;
    margin-top: 30px;
}
.indicator div
{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: #d9d9d9;
    transition: 0.2s;
}
.indicator div.active
{
    width: 50px;
    background: #82E3D2;
}

#subscription_items
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}
.subscription_item
{
    border-radius: 20px;
    background: #fff;
    padding-top: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.subscription_title
{
    background: #F7F7FB;
    border-radius: 12px;
    font-size: 22px;
    font-weight: 120px;
    line-height: 140%;
    letter-spacing: -2.5%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    margin: 0px 20px;
}
.subscription_price
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 48px 0;
}
.subscription_price span:nth-child(1)
{
    font-size: 55px;
    line-height: 140%;
    letter-spacing: -2.5%;
}
.subscription_price span:nth-child(2)
{
    font-size: 28px;
    color: #767676;
    margin-left: 12px;
    line-height: 140%;
    letter-spacing: -2.5%;
}
.description_list
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0px 20px;
}
.description
{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    border: solid 1px #e5e5ec;
    padding: 17px 20px;
}
.description span
{
    padding-left: 12px;
    color: #767676;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -2.5%;
}
.precautions
{
    margin: 20px 24px 40px 24px;
    color: #767676;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -2.5%;
    flex-grow: 1;
}
.subscription_start
{
    background: #D9FFF8;
    color: #82E3D2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}
#event_item_list
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.event_item
{
    border-radius: 20px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.event_item img
{
    width: 100%;
    height: 500px;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}
.event_info
{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    align-items: center;
}
.badge
{
    flex-grow: 1;
}
.ongoing
{
    border-radius: 8px;
    background: #111;
    color: #FFF;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 14px;
    padding: 6px; 12px;
}
.completed
{
    border-radius: 8px;
    background: #f7f7fb;
    color: #707070;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 14px;
    padding: 6px; 12px;
}
.brand
{
    border-radius: 8px;
    border: 1px solid #e5e5ec;
    color: #111;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 14px;
    padding: 6px; 12px;
    margin-left: 8px;
}
.event_date
{
    color: #767676;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 16px;
    text-align: end;
}
.event_title
{
    margin-top: 24px;
    color: #111;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 20px;
    font-weight: 600;
}
.event_content
{
    margin-top: 12px;
    color: #767676;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 15px;
    font-weight: 500;
    flex-grow: 1;
}
.event_start
{
    margin-top: 48px;
    weight: 100%;
    padding: 16px;
    text-align: center;
    color: #111;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 20px;
    font-weight: 600;
    background: #f7f7fb;
    border-radius: 12px;
    cursor: pointer;
}

#others_item_list
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 120px;
}
.others_item
{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: #fff;
    padding: 40px 32px;
}
.others_number
{
    color: #111;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 22px;
    font-weight: 600;
}
.others_title
{
    margin-top: 32px;
    color: #111;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 20px;
    font-weight: 600;
}
.others_content
{
    margin-top: 12px;
    color: #767676;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-size: 15px;
    font-weight: 500;
    flex-grow: 1;
}
.others_move
{
    margin-top: 32px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #f7f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


@media (max-width: 1200px) {
    #subscription_items
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
    .event_item img
    {
        width: 100%;
        height: 370px;
        border-radius: 16px;
        object-fit: cover;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    }
}
@media (max-width: 880px) {
    #subscription_items
    {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
    #others_item_list
    {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
        margin-bottom: 120px;
    }
    #event_item_list
    {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}

@media (max-width: 620px) {
    #menu ul
    {
        display: none;
    }
    #header span:nth-child(1)
    {
        font-size: 43px;
    }
    #header span:nth-child(2)
    {
        font-size: 16px;
    }
    #header span:nth-child(3)
    {
        font-size: 16px;
    }
    .event_item img
    {
        width: 100%;
        height: 310px;
        border-radius: 16px;
        object-fit: cover;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    }
}
@media (max-width: 450px) {
    .event_info
    {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        gap: 18px;
        align-items: start;
    }
    #header span:nth-child(1)
    {
        font-size: 35px;
    }
    .event_item img
    {
        width: 100%;
        height: 200px;
        border-radius: 16px;
        object-fit: cover;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);키
    }
}